body {
    font-family: 'Poppins', sans-serif;
    background: #1f1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.audio-container {
    text-align: center;
}

.styled-audio {
    width: 100%;
    max-width: 350px;
    background: #444;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    outline: none;
    color: #fff;
}

.custom-controls {
    margin-top: 10px;
}

#progress-container {
    width: 100%;
    max-width: 350px;
    height: 10px;
    background: #777;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}

#progress-bar {
    width: 0;
    height: 100%;
    background: #b13ce7;
    border-radius: 5px;
}

#play-pause {
    background: #b13ce7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#play-pause:hover {
    background: #9e32b5;
}
